@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>En ny text nu när jag disablat MSBuild, hoppas det går nu ;)</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
