@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Tror jag har ändrat path vart den ska byggas upp</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>


<p>Lägger till några rader till för att kunna göra en git och en run i teamcity
    Tror jag har ändrat path vart den ska byggas upp</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
