@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
<p>Sofia ändrar i texten så det finns något att pusha till Git.</p>
